<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="login">
        <form action="">
            <input type="text" name="nome" class="nome" id="nome">
            <input type="password" name="senha" id="senha" class="senha">
        </form>
    </main>
    <main class="cadastro">
        <input type="text" name="nome" class="input" id="nome">
        <input type="password" name="senha" id="senha" class="input">
        <input type="password" name="confSenha" id="confSenha" class="input">
    </main>
</body>
</html>